<!DOCTYPE html>
<html lang="en">
 
{% extends "base.html" %}
{% set active_page = "colorharm" %}
{% block title %} Computational Art Studio|Color Harmolization {% endblock %}

{% block content %}

 
    <div class="container">

        <h1>Upload your image</h1>
        <p class="lead"></p>
        <form id="upload-form" action="{{ url_for('colorHarm.upload') }}" method="POST" enctype="multipart/form-data">
            <input id="file-picker" type="file" name="file" accept="image/*" class="hidden" onchange="this.form.submit()">
            <label for="file-picker" class="btn btn-lg btn-success">Select file</label>
        </form>

        <div id="image-container">
            <img src={{image_name}} style="max-width: 560px;">
            
        </div>


            <div class = "row">
                <div class="col-sm-6 ">
                    <div class = "card align-items-center border-0 h-100">
                     <img class="card-img-top h-75" src ={{ url_for('static', filename = 'images/input.jpg') }} alt="Country Flag">
                    <div class="card-body text-center">
                        <h4 class = "card-title">Output Image</h4>
                    </div>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class = "card align-items-center border-0 h-100">
                     <img class="card-img-top h-75" src ={{ url_for('static', filename = 'images/output.png') }} alt="Country Flag">
                    <div class="card-body text-center">
                        <h4 class = "card-title">Input Image</h4>
                    </div>
                    </div>
                </div>

            </div>


    <hr>
    </div>


    {% endblock %}